mixin about(data)
    - data = data || {};
    section#about.about(class = data.class role = data.role)
        .about__container.container
            .row
                .col-lg-3
                    .about__preview
                        img(src="../img/about.jpg" alt="@@")
                .col-lg-9
                    h3.about__title О компании CompName
                    //h4.about__subtitle Заголовок рассказа о компании
                    p.about__desc Наш сервисный центр  предоставляет услуги по осуществлению ремонта и последующего обслуживания посудомоечных и стиральных машин, холодильников бытового назначения.
                    p.about__desc Данные услуги мы выполняем непосредственно в нашем сервисном центре, либо с выездом специалистов к Вам на дом.
                    p.about__desc Наш опыт и обширная база предприятий, являющихся поставщиками различных комплектующих, обеспечивает нам выполнение качественного и оперативного ремонта любой бытовой техники вне зависимости от серьезности возникшей проблемы. Кроме того, долгосрочные деловые отношения с поставщиками дают возможность нашего сервисного центра предоставлять услуги по приемлемым ценам и предоставлять дополнительные скидки.

                    ul.about__list.container
                        li.about__list-item.col-lg-3.col-12
                            svg.about__list-icon
                                use(xlink:href="../img/sprite/sprite.svg#calendar")
                            p Работаем более 15 лет на рынке
                        li.about__list-item.col-lg-3.col-12
                            svg.about__list-icon
                                use(xlink:href="../img/sprite/sprite.svg#settings")
                            p В наличии более 1000 запчастей
                        li.about__list-item.col-lg-3.col-12
                            svg.about__list-icon
                                use(xlink:href="../img/sprite/sprite.svg#searcfh")
                            p Проведено более 250 диагностик
                        li.about__list-item.col-lg-3.col-12
                            svg.about__list-icon
                                use(xlink:href="../img/sprite/sprite.svg#tools")
                            p Отремонтировано более 400 ед. техники
                
                