mixin brands(data)
    - data = data || {};
    section.brands
        .brands__container.container
            .row
                .col-lg-12
                    h3.brands__title Ремонтируем технику любого бренда
                    p.brands__desc Выберите производителя Вашей техники
            .row
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-2.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-3.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-4.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-5.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-6.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-12.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-11.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-10.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-9.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-8.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item
                    img(src="../img/brands/brand-7.png" alt="@@")

                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands1.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands2.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands3.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands4.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands6.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands8.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands9.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands11.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands17.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands18.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/brands19.png" alt="@@")
                .col-lg-2.col-md-3.col-sm-4.col-6.brands__item.not-show-brands
                    img(src="../img/brands/fujitsu.png" alt="@@")

            .row
                .col-lg-12
                    a.brands__link.show-btn-brands(href="#" title="")
                        svg.brands__link-icon
                            use(xlink:href="../img/sprite/sprite.svg#eye")
                        .brands__link-desc Увидеть все бренды