mixin reviews(data)
    - data = data || {};
    section#reviews.reviews
        .container.reviews__container
            .row
                .col-md-12
                    h3.reviews__title Реальные отзывы наших клиентов
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Александра
                                        span 15.05.2019
                                    p Эти ребята просто лучшие мастера. Произошла беда, можно сказать небольшой домашний потоп, даже не могла и подумать, что стиралка может потечь во время стирки. Вс вода разлилась на пол, хорошо быстро среагировала и убрала. В доме маленькие дети, нужно стирать каждый день, муж на работе очень занят, да и в ремонте не очень то соображает. Я как домохозяйка спросила начала искать мастеров и оставила заявку на сайте со своего телефона. Мне ответили быстро, а также приехали через пару часов и мастер все отремонтировал.
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review-3.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Елизавета
                                        span 16.06.2019
                                    p Сайт интересный тем, что я сама могу выбрать мастера, который приедет на ремонт, такой фишки еще ни у кого не видела. Стиралка перестала греть воду и вещи стали некачественно стираться. Муж пытался разобрать, но у него не получилось плюнул на все это дело и мы принялись искать мастера. Нашли этот сайт и оставили заявку на ремонт, а также выбрали мастера из предложенных. Приехал этот человек и поменял нам тен, мы заранее указали марку стиральной машинки и проблему, так что он уже приехал со всем готовым, сделал все быстро.
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review-2.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Вадим
                                        span 21.06.2019
                                    p Морозилка отказалась работать, на удивление холодильник морозил нормально, а вот морозильная камера подвела. Проблему нужно было решать очень быстро из-за большого количество еды. У нас очень огромный холодильник и в нем много мяса и замороженных фруктов. Все это могло испортится, в быстром режиме нашел сайт в интернете, оставил заявку, не стал дожидаться когда перезвонят и сам им позвонил, попросил, чтоб срочно приехал мастер. В течении часа приехал человек и провел над холодильником около двух часов. Не знаю, что делал, но проблему решил, я остался довольный, а продукты были спасены. 
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review-5.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Константин
                                        span 3.07.2019
                                    p Решил сделать жене подарок и купить посудомоечную машину на день рождения. Идея просто супер, и все вроде бы классно, привезли мне с интернет магазина прямо на дом и занесли в квартиру. Но вот нужно было ее подключать. С этим я не справился, понял что нужны те кто соображают, я только хорошо разбираюсь в сфере продаж, а по ремонту ничего не понимаю. Нашел в интернете сайт и сказал, что у меня срочный вызов, срывается подарок жене, приезжайте и спасайте. Приехал рабочий и очень быстро все подключил и настроил, рассказал и показал, как пользоваться. Работой компании остался доволен, спасли мой подарок.

                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review-4.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Кристина
                                        span 17.08.2019
                                    p У меня сломался холодильник, как я поняла, что причина в том, что сын сломал сзади холодильника решетку и вытек фрион. Причину поломки понимаю, а вот возможности устранить проблему не было. Пришлось вызывать мастера, хорошо, что уже знаю надежную компанию сразу обратилась к профессионалом. Мне запаяли место утечки и закачали новый фреон в систему, после чего холодильник перевели в тестовый режим, чтобы проверить его работу. Все сделали качественно в этом они уж молодцы, порадовало, то, что мне, как постоянному клиенту еще и скидку сделали.
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review-6.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Павел
                                        span 25.01.2020
                                    p У меня есть печка для выпечки, поскольку я увлекаюсь кулинарией и здоровой пищей. С ней произошла проблема, она перестала включаться, кроме этого у меня давно уже была сломана мультиварка, а тут еще и стиральная машинка полетела. Нужно только мастера вызывать. Немного поискал в интернете компании и почитал о них отзывы. Остановился на этой компании из-за хороших отзывов. Позвонил по номеру телефона и мне отремонтировали все, что только было неисправно из техники дома. Действительно правду люди пишут о них хорошо, работают добросовестно.

                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review-7.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Александра
                                        span 25.01.2020
                                    p Мне понравилось, что они работают, очень оперативно. Я обратилась поздно вечером с тем, что накрылся мой холодильник, уже с раннего утра приехал мастер и всего за пару часов, все сделал. Пришлось ему конечно съездить к себе на базу и привезти недостающие детали, сама понимаю, что всего с собой они не могут взять,а случаи бывают разные. И у меня накрылось, что-то, что редко ломается, название честно говоря уже не помню, да это и не важно. Главное, что сделали быстро и хорошо, все работ и холодильником можно пользоваться.

                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/review-8.jpg" alt="@@")
                                .swiper-slide__content
                                    .swiper-slide__content-header
                                        p Владислав
                                        span 20.01.2020
                                    p Компания довольно солидная и менеджеры очень ответственны. Договорились, что мастер приедет в указанное время и он приехал. Я предварительно описал проблему и модель стиральной машины, чтоб мастер приехал со всеми возможными запчастями к ней, это очень удобно и экономит время. Видно, что человек профессионал, быстро поменял запчасть, а также посмотрел общее состояние машинки и рассказал, что еще бы в будущем желательно было бы заменить. Проверили работоспособность, я убедился, что все работает, расплатился с человеком и поехал по своим делам.

                        .swiper-button-prev
                        .swiper-button-next
                        .swiper-pagination
                